/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    background: #e44d26;
}*/

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container,
.footer-container footer {
  display: inline-block;
  width: 100%;
}

.footer-container {
  border-top: 1.5px solid #ababab;
}

.footer-container footer {
  padding: 15px 0 35px;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-image:url('../img/background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.inner {
  background-color: rgba(255, 255, 255, 0.78);
  color: #020202;
  display: table;
  padding-top: 30px;
  min-height: 100%;
  padding: 0 80px;
  font-size: .9rem;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
      float: left;
    }

    nav li:first-child a {
      margin-left: 0;
    }

    nav li:last-child a {
      margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
      display: inline-block;;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
      float: left;
    }

    nav {
      margin-left: 10px;
    }

/* ============
    WIDE: Main
   ============ */

    .main .mission {
        float: left;
        width: 22%;
    }

    .main .app-store {
        float: right;
        width: 60%;
    }

    .app-store {}

    .app-store .ipad,
    .app-store .iphone,
    .app-store .app-store__badge {
      float: right;
    }

    .app-store .ipad {
      max-width: 550px;
    }

    .app-store .iphone {
      max-width: 450px;
      margin: -80px 200px 0;
    }

    .app-store .app-store__badge {
      margin: -90px 25px 0;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
      width: 100%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


nav {
  float: left;
}

nav ul li {
  padding: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.mission {}

.mission .mission__logo {}

.mission .mission__hero {
  margin: 40px 0 25px;
}

.mission .mission__copy {}

/*.app-store {}

.app-store .ipad,
.app-store .iphone,
.app-store .app-store__badge {
  float: right;
}

.app-store .ipad {
  max-width: 550px;
}

.app-store .iphone {
  max-width: 450px;
  margin: -80px 200px 0;
}

.app-store .app-store__badge {
  margin: -90px 25px 0;
}*/

.app-features {
 float: left;
 width: 100%;
 font-size: 0;
 margin: 60px 0 20px;
}

.app-features__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-features__list__item {
  display: inline-block;
  border: 1px solid #ababab;
  width: 33.3%;
  padding: 24px 15px;
  border-right: none;
}

.app-features__list__item:last-child {
  border-right: 1px solid #ababab;
}

.app-features__list__item img {
  max-height: 48px;
  vertical-align: middle;
}

.app-features__list__item .a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.app-features__list__item .a .img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.app-features__list__item .a .copy {
  font-size: 12px;
  display: none;
  height: 100%;
}

.footer-container .copyright {
  float: right;
  text-align: right;
}

.footer-container .brand img {
  width: 20%;
  vertical-align: text-top;
}
